<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hacienda Maipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <img src="assets\img\hacienda.jpg" alt="Hacienda Maipo" class="imagen-hotel" />
      
    </ion-card-header>

  </ion-card>
  <ion-card class="descripcion-hotel">
    Rodeada de una naturaleza excepcional, La Hacienda del Maipo ofrece sus parques para celebrar todo tipo de
    eventos. Nos adaptamos a los requerimientos del cliente para que cada evento sea único. Ofrecemos asesoría
    con proveedores externos como banquetería, iluminación y carpas de confianza.
  </ion-card>
  <button class="btn-ovalado">Reservar Habitación</button><button (click)="irAInicio()" class="Inicio">Volver</button>

    
    
      
  
     
</ion-content>


