#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.ion-header{

  --background: black;
  --border-color: white;
  color: white;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#container a ion-text-center {
  margin-top: 20px;
  width: 100%;
}
.ion-no-border {
  background-color: purple;
}


#login  {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.custom-button1 {
   --background: #000;                    
  border: 2px solid var(--border-color);
  font-weight: bold;
  border-radius: 12px;            
  transition: transform 0.2s ease;
  
}

      
ion-content {
  --background: transparent; 
  background: url('/assets/fondo2.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
}

.cancun{
  border-color: aqua;
}
.ion-padding {
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(black));
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}



