<ion-header  class="ion-header"> 
  <ion-toolbar color="primary">
    <ion-title>
      Bienvenido a BuscaRest 
      <style>
        ion-icon {
          color: white;
        }
      </style>
      <ion-icon name="airplane-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>  
    <ion-card-header>
      <ion-card-title class="ion-text-center">BuscaRest.cl</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <p>¡Bienvenido a BuscaRest.cl! Tu plataforma para encontrar los mejores destinos turísticos.</p>
      <p>Explora, reserva y disfruta de experiencias inolvidables.</p>
    </ion-card-content>
  </ion-card>

 
  <ion-card *ngIf="usuario">
    <ion-card-header>
      <ion-card-title class="ion-text-center">👤 Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Usuario:</strong> {{ usuario.usuario }}</p>
      <p><strong>Correo:</strong> {{ usuario.correo }}</p>
      <p><strong>Cumpleaños:</strong> {{ usuario.cumpleanos }}</p>
      <p><strong>Dirección:</strong> {{ usuario.direccion }}</p>
    </ion-card-content>
  </ion-card>


  <div *ngIf="imagen" class="ion-margin-top">
    <ion-card>
      <img [src]="imagen" />
      <ion-card-content>Foto tomada desde la cámara</ion-card-content>
    </ion-card>
  </div>

  
