<ion-header [translucent]="true">
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido a BuscaRest
      <ion-icon name="airplane-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">





  <ion-card>  
    <ion-card-header>
      <ion-card-title class="ion-text-center">BuscaRest.cl</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <p>¡Bienvenido a BuscaRest.cl! Tu plataforma para encontrar los mejores destinos turísticos.</p>
      <p>Explora, reserva y disfruta de experiencias inolvidables.</p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Busca tu Proximo Destino!</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      
      

      <ion-button class="custom-button1" expand="block" color="success" (click)="goToPage()">
        REGISTRARSE
      </ion-button>

      <ion-button class="custom-button2" expand="block" color="medium" (click)="irAInicio()" class="ion-margin-top">
       Inicio
      </ion-button>

      <ion-card>

  
    
  
  <ion-card-content>
    
  </ion-card-content>
</ion-card>


    </ion-card-content>
  </ion-card>

</ion-content>
