.pagina-inicio {
  padding: 16px;
  background-color: #f4f4f4;
   
}

.seccion {
  margin-bottom: 30px;
}

.titulo-seccion {
  text-align: center;
  color: #1a73e8;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 6px;
}

.botonpri{
  background-color: aquamarine;
}


.imagen-con-texto {
  display: inline-block;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  width: 40%;
  size: 20px;
}

.imagen-con-texto img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.imagen-con-texto img:hover {
  transform: scale(1.05);
}

.descripcion {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
  animation: fadeIn 0.3s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  size-adjust: 20px;
  margin-top: 20px;
}

.imagenes img {
  width: 45%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.imagenes img:hover {
  transform: scale(1.05);
}
